/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(https://cdn.discordapp.com/attachments/639869522387664896/871824534477623306/unknown.png);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: rgb(216, 0, 0);
  border-top: 12px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #585858;
  background-color: white;
  box-shadow: 2px 2px 5px black;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.resultado{
  background-color: white;
  box-shadow: 2px 2px 2px black;
  box-sizing: border-box;
  
}
.col-lg-12{
  box-sizing: 1px 1px 1px;
}
.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}
.adicionar{
  color: #3128a7;
  background-color: transparent;
  background-image: none;
  border-color: #2a28a7;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 2;
  border-radius: 0.3rem;
}
.deletar{
  color: #d32323;
  background-color: transparent;
  background-image: none;
  border-color: #eb2525;
  border-radius: 0.3rem;
}
.copy{
 text-align: center;
}